.portfolio {
    h1 {
        font-size: 3em;
        line-height: 2;
        font-weight: 200;
        font-style: italic;
        text-transform: capitalize;
        color: #008f68;
        margin-bottom: 0;
    }
    p {
        font-size: 1.5em;
        font-weight: 200;
        text-transform: capitalize;
        color: #000000;
    }
    .grid {
        position: relative;
        margin: 0 auto;
        padding: 1em 0 4em;
        max-width: 1000px;
        list-style: none;
        text-align: center;
        figure {
            position: relative;
            float: left;
            overflow: hidden;
            margin: 10px 1%;
            min-width: 320px;
            max-width: 480px;
            max-height: 360px;
            width: 48%;
            background: rgba(107, 183, 86, 0.95);
            text-align: center;
            cursor: pointer;
            img {
                position: relative;
                display: block;
                min-height: 100%;
                //max-width: 100%;
                opacity: 0.8;
            }
            figcaption {
                padding: 2em;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.25em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                &::before,
                &::after {
                    pointer-events: none;
                }
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            h2 {
                word-spacing: -0.15em;
                font-size: 1.5em;
                font-weight: 200;
                font-style: italic;
                text-transform: capitalize;
                a {
                    float: right;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
    /* Common style */
    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    /* Individual effects */
    /*---------------*/
    /***** Lily *****/
    /*---------------*/
    figure.effect-lily {
        img {
            max-width: none;
            width: -webkit-calc(100% + 50px);
            width: calc(100% + 50px);
            opacity: 0.7;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
        }
        figcaption {
            text-align: left;
            >div {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 1em;
                width: 100%;
                height: 30%;
            }
        }
        h2 {
            -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            opacity: 0;
        }
        &:hover {
            img,
            h2,
            div {
                opacity: 1;
                background: rgba(107, 183, 86, 0.95);
            }
            img,
            h2 {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .portfolio {
        h1 {
            font-size: 3em;
            line-height: 2;
            font-weight: 200;
            font-style: italic;
            text-transform: capitalize;
            color: #008f68;
            margin-bottom: 0;
        }
        p {
            font-size: 1.5em;
            font-weight: 200;
            text-transform: capitalize;
            color: #000000;
        }
        .grid {
            figure {
                h2 {
                    font-size: 1.2em;
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        figure.effect-lily {
            figcaption {
                >div {
                    padding: 10px;
                }
            }
        }
    }
}