<div class="container portfolio">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center">
            <h1>portfolio</h1>
            <p>My latest works</p>
        </div>
    </div>
    <div class="grid">
        <figure class="effect-lily">
            <img src="assets/images/kvrr.png" alt="img12" />
            <figcaption>
                <div>
                    <h2>k v ranga reddy law college
                        <a href="https://github.com/irfanfarhan" target="_blank" title="Github">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </h2>
                </div>
                <a href="http://kvrrlawcollege.com/" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="effect-lily">
            <img src="assets/images/kvrr.png" alt="img1" />
            <figcaption>
                <div>
                    <h2>Nice <span>Lily</span></h2>
                </div>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    </div>
</div>