<div class="container">
  <div class="row resume">
    <div class="col-lg-12 col-md-12 text-center">
      <h1>resume</h1>
      <p>More about my past...!</p>
    </div>
    <div class="col-lg-12 col-md-12 text-left">
      <h1>
        <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i> education</h1>
    </div>
    <div class="col-md-12 resume-body margin-top-none">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-left">
          <h4 class="text-uppercase">Bachelor of Technology in Computer Science and Engineering
            <span> 2011 - 2014</span>
          </h4>
          <p>Lakireddy Bali Reddy College of Engineering</p>
          <address>L.B.Reddy Nagar, Krishna District, Mylavaram, Andhra Pradesh 521230</address>
          <a href="http://www.lbrce.ac.in/" target="_blank" title="LBRCE">
            www.lbrce.ac.in
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 resume-body margin-top-none">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-left">
          <h4 class="text-uppercase">Diploma in Computer Engineering
            <span> 2007 - 2010</span>
          </h4>
          <p>A. A. N. M. &amp; V. V. R. S. R. Polytechnic</p>
          <address>Gudlavalleru-Addada Rd, Gudlavalleru, Andhra Pradesh 521356</address>
          <a href="http://www.aanm-vvrsrpolytechnic.ac.in/" target="_blank" title="AANM&amp;VVRSR">
            www.aanm-vvrsrpolytechnic.ac.in
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 resume-body margin-top-none">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-left">
          <h4 class="text-uppercase">secondary school education
            <span> 2006 - 2007</span>
          </h4>
          <p>AKTP Municipal Corporation High School</p>
          <address>Adi Seshaiah St, Satyaranayana Puram, Vijayawada, Andhra Pradesh 520011</address>
          <a href="http://www.icbse.com/schools/a-k-t-p-mc-hs-s-n-puram/28161790961" target="_blank" title="AKTPMCHS">
            www.aktp-school.ac.in
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 text-left">
      <h1>
        <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i> employment</h1>
    </div>
    <div class="col-md-12 resume-body margin-top-none">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-left">
          <h4 class="text-uppercase">Professional 1: Product Developer
            <span> july 2017 - till</span>
          </h4>
          <p>Computer Sciences Corporation now DXC Technology</p>
          <address>DLF, DLF Cyber City, Gachibowli, Hyderabad, Telangana 500032</address>
          <a href="http://www.dxc.technology/" target="_blank" title="DXC">
            www.dxc.technology.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 resume-body margin-top-none">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-left">
          <h4 class="text-uppercase">UI developer
            <span> jan 2016 - july 2017</span>
          </h4>
          <p>Microsoft Corporation (vendor)</p>
          <address> Beside Indian School Of Business, ISB Road, Gachibowli, Hyderabad, Telangana 500032</address>
          <a href="https://www.microsoft.com/en-in/" target="_blank" title="MS">
            www.microsoft.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 resume-body margin-top-none">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-left">
          <h4 class="text-uppercase">UI developer
            <span> jan 2015 - july 2017</span>
          </h4>
          <p>People Tech Group</p>
          <address>Plot No.1, Whitefields, Hitech City Road, Kondapur, Hitech City, Hyderabad, Telangana 500084</address>
          <a href="http://peopletechgroup.com/" target="_blank" title="PTG">
            www.peopletechgroup.com
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 padding-none download-cv">
        <a class="btn btn-default" href="assets/doc/MohammadIrfan.pdf" download="MohammadIrfan">download CV</a>
     </div>
  </div>
</div>
