<div class="container">
  <div class="row about margin-bottom-50">
    <div class="col-lg-12 col-md-12 text-center about-header">
      <h1>about me</h1>
      <p>Let me introduce myself</p>
    </div>
    <div class="col-md-5 about-body">
      <img class="img-responsive" src="assets/images/MohammadIrfan.jpg" />
    </div>
    <div class="col-md-6 col-md-offset-1 about-body">
      <p>I'm Mohammad Irfan. I'm a passionate UI Developer and Front-End Developer creating modern and responsive design for
        Web and Mobile.</p>
      <ul class="list-group about-list">
        <li class="list-group-item">
          <i class="fa fa-circle" aria-hidden="true"></i> 3+ years of IT experience in analysis, design, development, testing, Implementation and Software Migration
          techniques of web application.</li>
        <li class="list-group-item">
          <i class="fa fa-circle" aria-hidden="true"></i> Experienced in web-based GUIs development using HTML5, CSS3, Twitter Bootstrap, SASS/SCSS, AngularJS, Angular2,
          Angular Material, Java Script, JQuery, Ionic, Node JS and JSON object. </li>
        <li class="list-group-item">
          <i class="fa fa-circle" aria-hidden="true"></i> Have good knowledge on the framework and Web Based Application for Desktop, Tablet and Mobile. </li>
      </ul>
    </div>
    <div class="col-lg-12 col-md-12 text-center about-skills padding-none">
      <h1>skills</h1>
    </div>
    <div class="col-md-12 about-skills-section">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-html5 fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">html5</h4>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-css3 fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">css3</h4>
        </div>
      </div>
    </div>
  </div>
</div>
