<div class="container">
    <div class="row about margin-bottom-50">
        <div class="col-lg-12 col-md-12 text-center about-header">
            <h1>about me</h1>
            <p>Let me introduce myself</p>
        </div>
        <div class="col-md-5 about-body">
            <img class="img-responsive" src="assets/images/MohammadIrfan.jpg" />
        </div>
        <div class="col-md-6 col-md-offset-1 about-body">
            <p>I'm Mohammad Irfan. I'm MEAN STACK Developer, creating modern and responsive design for Web and Mobile.</p>
            <ul class="list-group about-list">
                <li class="list-group-item">
                    <i class="fa fa-circle" aria-hidden="true"></i> 3+ years of IT experience in analysis, design, development, testing, Implementation and Software Migration techniques of web application.</li>
                <li class="list-group-item">
                    <i class="fa fa-circle" aria-hidden="true"></i> Experienced in web-based GUIs development using HTML5, CSS3, Twitter Bootstrap, SASS/SCSS, AngularJS, Angular5, Node JS, MongoDB, Angular Material, Java Script, JQuery and Ionic.
                </li>
                <li class="list-group-item">
                    <i class="fa fa-circle" aria-hidden="true"></i> Have good knowledge on the framework and Web Based Application for Desktop, Tablet and Mobile. </li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 text-center about-skills padding-none">
            <h1>skills & frameworks</h1>
        </div>
        <div class="col-md-12 about-skills-section">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/html5.png" alt="HTML5" title="HTML5" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/css3.png" alt="CSS3" title="CSS3" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/bootstrap.png" alt="Bootstrap" title="Bootstrap" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/scss.png" alt="SCSS" title="SCSS" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/js.png" alt="JavaScript" title="JavaScript" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/typescript.png" alt="TypeScript" title="TypeScript" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/ang.png" alt="Angular JS" title="Angular JS" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/ang2.png" alt="Angular2+" title="Angular2+" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/mongodb.png" alt="Mongo DB" title="Mongo DB" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/node.png" alt="Node JS" title="Node JS" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/angularmaterial.png" alt="Angular Material" title="Angular Material" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/react.png" alt="React JS" title="React JS" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/git.png" alt="Git" title="Git" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/npm.png" alt="NPM" title="NPM" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/gulp.png" alt="Gulp" title="Gulp" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/bower.png" alt="Bower" title="Bower" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/jquery.png" alt="JQuery" title="JQuery" class="img-responsive">
                                </a>
                            </div>

                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/vuejs.jpeg" alt="Vue JS" title="Vue JS" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-12 empty-space hidden-md hidden-lg hidden-sm"></div>
                            <div class="col-sm-3 col-xs-12">
                                <a href="#x">
                                    <img src="assets/images/ionic.png" alt="Ionic" title="Ionic" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left fa-4"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right fa-4"></i>
                </a>
            </div>
        </div>
    </div>
</div>