    .dashboard {
        clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
        background-color: #6bb756;
        background: linear-gradient(to right, rgba(107, 183, 86, .95), rgba(0, 143, 104, .95));
        height: 450px;
        h1 {
            font-size: 3em;
            line-height: 3;
            font-weight: 200;
            font-style: italic;
            text-transform: capitalize;
            color: #ffffff;
        }
        ul.topskills {
            margin: 0;
            list-style: none;
            width: 100%;
            text-align: center;
            position: relative;
            font-style: italic;
            li {
                font-size: 1.5em;
                margin: 0;
                color: #ffffff;
                font-weight: 200;
                text-align: center;
                display: inline;
                text-transform: capitalize;
                &::after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #ffffff;
                    display: inline-block;
                    margin-left: 30px;
                    margin-right: 30px;
                    bottom: 4px;
                    position: relative;
                }
                &:last-child {
                    &:after {
                        background: transparent;
                        margin: 0;
                    }
                }
            }
        }
        .about-me {
            background-color: #ffff !important;
            border-radius: 8px;
            color: rgba(0, 143, 104, 0.95);
            letter-spacing: 1px;
            padding: 10px 20px;
            font-size: 1.3em;
            text-decoration: none;
            cursor: pointer;
            border-radius: 0;
            text-transform: capitalize;
            font-style: italic;
            line-height: 12;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
            &:hover {
                color: #ffff !important;
                background-color: #499C5A !important;
            }
        }
    }
    /* Smartphones (portrait and landscape) ----------- */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        .dashboard {
            h1 {
                font-size: 2.2em;
            }
            ul.topskills {
                li {
                    font-size: 1.3em;
                }
            }
            .about-me {
                font-size: 1.1em;
            }
        }
    }