.contact {
    .contact-header {
        h1 {
            font-size: 3em;
            line-height: 2;
            font-weight: 200;
            font-style: italic;
            text-transform: capitalize;
            color: #008f68;
            margin-bottom: 0;
        }
        p {
            font-size: 1.5em;
            font-weight: 200;
            text-transform: capitalize;
            color: #000000;
        }
    }
    .form-body {
        padding: 30px;
        margin: 40px 0;
        box-shadow: 1px 1px 15px rgba(67, 38, 100, .15);
        label {
            font-size: 1.3em;
            font-weight: 200;
            text-transform: capitalize;
            color: #008f68;
        }
        input,
        textarea {
            border-radius: 0;
        }
        button {
            background-color: #ffff !important;
            border-radius: 8px;
            color: rgba(0, 143, 104, 0.95);
            letter-spacing: 1px;
            padding: 10px 20px;
            font-size: 1.3em;
            text-decoration: none;
            cursor: pointer;
            border-radius: 0;
            text-transform: capitalize;
            font-style: italic;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
            &:hover {
                color: #ffff !important;
                background-color: #499C5A !important;
            }
        }
        &.contact-footer {
            .text-center {
                &:hover {
                    i,
                    h4 {
                        color: rgba(107, 183, 86, .95) !important;
                    }
                }
                p {
                    font-size: 1em;
                    font-weight: 200;
                    text-transform: capitalize;
                    color: #000000 !important;
                    word-break: break-all;
                }
                h4 {
                    font-size: 1.3em;
                    text-transform: uppercase;
                    &:hover {
                        color: rgba(107, 183, 86, .95) !important;
                    }
                }
                a {
                    font-size: 1em;
                    font-weight: 200;
                    color: #000000 !important;
                    word-break: break-all;
                    &:hover,
                    &:active,
                    &:focus {
                        font-weight: 500;
                        text-decoration: none;
                        color: rgba(0, 143, 104, .95) !important;
                    }
                }
            }
        }
    }
    .btn.disabled,
    .btn[disabled] {
        cursor: not-allowed !important;
    }
    .requiredField {
        font-weight: 500;
        font-size: 8px;
        color: #DD0031;
    }
}