.header {
    background-color: #6bb756;
    color: #FFFFFF;
    border: none;
    background: linear-gradient(to right, rgba(107, 183, 86, .95), rgba(0, 143, 104, .95));
    height: 3.75rem;
    .navbar-brand {
        img {
            position: relative;
            margin-top: -21px;
            margin-right: 20px;
            top: 12px;
            height: 40px;
        }
        color: #FFFFFF !important;
        text-transform: capitalize;
        line-height: 23px;
        font-size: 16px;
        i {
            &.fa-2x {
                font-size: 20px !important
            }
        }
    }
    .nav-menu-list-left {
        li {
            a {
                color: #FFFFFF !important;
                text-transform: capitalize;
                line-height: 20px;
                font-size: 14px;
                i {
                    &.fa-2x {
                        font-size: 20px !important
                    }
                }
                &:hover,
                &:focus,
                .active {
                    color: rgba(255, 255, 255, 0.7) !important;
                    background-color: rgba(0, 0, 0, .1) !important;
                }
            }
            &.active {
                a {
                    background-color: rgba(0, 0, 0, .1);
                }
            }
        }
    }
    .nav-menu-list-right {
        li {
            a {
                color: #FFFFFF !important;
                text-transform: capitalize;
                line-height: 17px;
                font-size: 14px;
                i {
                    &.fa-2x {
                        font-size: 20px !important
                    }
                }
                &:hover {
                    color: #FAE042 !important; //background-color: rgba(0, 0, 0, .1) !important;
                }
            }
        }
    }
    .navbar-collapse {
        border-color: transparent;
        box-shadow: none;
        &.collapse {
            border-color: transparent;
            box-shadow: none;
        }
        &.in {
            background: linear-gradient(to right, rgba(107, 183, 86, .95), rgba(0, 143, 104, .95));
        }
    }
    .navbar-toggle {
        border: none;
        border-radius: 0;
        &:hover,
        &:focus,
        .active {
            color: rgba(255, 255, 255, 0.7) !important;
            background-color: rgba(0, 0, 0, .1) !important;
        }
    }
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .header {
        .nav-menu-list-right {
            li {
                a {
                    float: left
                }
            }
        }
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .header {
        .nav-menu-list-right {
            li {
                a {
                    float: left
                }
            }
        }
    }
}