.header{
  background-color: #6bb756;
  color:#FFFFFF;
  border: none;
  .navbar-brand{
    img{
        position: relative;
        margin-top: -21px;
        margin-right: 20px;
        top: 12px;
        height: 40px;
    }
  }
  a{
    color:#FFFFFF !important;
  }
}

